{% assign Libraries = site.data.data.Libraries %}
{% if }
<section class="libraries-section section">

	<h2 class="section-title">
		<span class="fa-stack fa-xs">
			<i class="fas fa-circle fa-stack-2x"></i>
			<i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
		</span>
		{{ Libraries.title }}
	</h2>
	<div class="libraries">

		{% for Libaries in Ligraries.toolset %}
		<div class="library">

			<h3 class="level-title">{{ Libraries.name }}</h3>
			<div class="level-bar">
				<div class="level-bar-inner" data-level="{{ Libraries.level }}">
				</div>
			</div><!--//level-bar-->
		</div><!--//library-->
		{% endfor %}
	</div>
{% endif %}
